
.h1 {
    color: #000102; /* Azul */
    font-size: 28px; /* Aumenta el tamaño de la fuente */
    text-decoration: none; /* Sin subrayado */
    font-family: 'Times New Roman', serif; /* Fuente formal */
    font-weight: bold; /* Negrita para resaltar */
}
.h1:hover {
    color: #000102; /* Rojo al pasar el ratón */
    
}



/* Estilo personalizado para el mensaje de error flotante */
.error-message {
    background-color: white;
    color: blue;
    padding: 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Asegura que se muestre por encima de otros elementos */
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

/* Botón de cierre (X) */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo para el fondo oscuro (opcional) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
